Source: setcolortemperature
Section: x11
Priority: optional
Maintainer: Jacob Adams <tookmund@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/Tookmund/setcolortemperature
Vcs-Git: https://github.com/Tookmund/setcolortemperaturerature
Vcs-Browser: https://github.com/Tookmund/setcolortemperature

Package: setcolortemperature
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Set screen color temperature
 Change the screen color temperature to reduce/increase the amount of blue
 light on screen.
 sct sets the color temperature of the screen via xrandr like redshift
 Unlike redshift, it is only 80 lines of C, although it does not have automatic 
 temperature changing.
