Source: setcolortemperature
Section: unknown
Priority: optional
Maintainer: Jacob Adams <tookmund@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/setcolortemperature.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/setcolortemperature.git

Package: setcolortemperature
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
